.heading{
	width: 50%; 
	margin: 10px auto; 

}
form {
	width: 50%; 
	margin: 30px auto; 
	
}
table {
    width: 50%;
    margin: 30px auto;
	
}

.delete{
	text-align: center;
}
.delete a{
	color: white;
	background: red;
	padding: 1px 6px;
	border-radius: 3px;
	text-decoration: none;
}
